h1 {
  font-size: 300px;
  color: white;
  background-color: darkblue;
  text-align: center;
  padding-block: 25px;
}

.col-3 {
  font-size: 25px;
  font-weight: bold;
}

div.row {
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align-last: center;
}
